{:paths     ["src"]
 :deps      {org.clojure/clojure            {:mvn/version "1.10.1"}
             clj-http                       {:mvn/version "3.10.0"}
             cheshire                       {:mvn/version "5.9.0"}
             org.clojure/data.csv           {:mvn/version "0.1.4"}
             org.clojure/tools.logging      {:mvn/version "0.5.0"}
             stardog-clj                    {:mvn/version "7.0.0"}
             mamun/data-flow                {:git/url "https://github.com/Mamun/data-flow"
                                             :sha     "66dc530f21e3ecbe35dc00eaed33ae09aadb7191"}
             ch.qos.logback/logback-classic {:mvn/version "1.1.7"}
             }
 :aliases   {
             :graph {:extra-deps {org.clojure/tools.deps.graph {:mvn/version "0.2.24"}}
                     :main-opts  ["-m" "clojure.tools.deps.graph"]}}
 :mvn/repos {
             ;   "confluent" {:url "https://packages.confluent.io/maven/"}
             "stardog"   {:url "https://maven.stardog.com"}
             "confluent" {:url "https://packages.confluent.io/maven/"}
             }
 }
